

<h1>Listing Dogs</h1>

<div class="row">

   <% @dogs.each do |dog| %>
     <div class="col-md-3">
       <div class="panel panel-default <%= 'panel-success' if dog.in_daycare %>">
         <div class="panel-heading">
           <h3 class="panel-title"><%= dog.name %> <%= dog.owner.last_name %></h3>
         </div>
         <div class="panel-body">
           <%= image_tag dog.avatar.url(:medium), class: "img-responsive" %>
         </div>
         <div class="panel-footer">
           <%= dog.in_daycare %>
           <%= link_to dog do %>
            <%= fa_icon 'eye' %>
           <% end %>

           <%= link_to edit_dog_path(dog) do %>
           <%= fa_icon 'pencil' %>
           <% end %>
           
           <%= link_to dog, method: :delete, data: { confirm: 'Are you sure?' } do %>
           <%= fa_icon 'trash-o' %>
           <% end %>

       </div> <!-- panel -->
     </div> <!-- col -->
   <% end %>

</div> <!-- row -->
<br>

<%= link_to 'New Dog', new_dog_path %>